/* Diagnostic */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

* {
  /* outline: 1px dotted darkgray; */
}

/* Layout  */
main {
  display: grid;
  background: #fff1e6;
  grid-template-rows: repeat(2, 1fr);
  height: 100vh;
  align-items: center;
}

main time {
/*  center content  */
  text-align: center;
}

.time{
  font-size: 100px;
  font-weight: 600;
  font-family: 'Roboto Mono';
  letter-spacing: -7px;
  align-items: end;
}

.date{
font-size: 30px;
font-weight: 600;
font-family: 'Roboto Mono';
height: -200px;
align-content: start;
}

p {
  font-family: 'Roboto Mono';
  font-weight: 600;
}

